.homeWrapped {
  padding: 10px;
}
.heading {
  box-shadow: 0px 1px 2px grey;
  padding: 5px;
}
.box {
  padding: 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box svg {
  color: white;
}
.box:hover svg {
  font-size: 90px;
  transition: all 0.5s ease-out;
}
.userIcon svg {
  font-size: 75px;
  opacity: 0.5;
  color: gray;
}

.userIcon {
  content: "";
  position: absolute;
  top: 8%;
  right: 21px;
}
