.ReactModal__Content.ReactModal__Content--after-open {
  background: #222b45 !important;
  padding: 20px !important;
  color: white;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999;
}
