span.upcomingBadge {
  position: absolute;
  left: 4px;
  top: 9px;
  font-size: 13px;
  transform: rotate(-42deg);
}
span.number {
  position: absolute;
  left: 26px;
  top: 25px;
  font-size: 17px;
}
