.ClubHolderBlance {
  background: #00d68f;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 7px 1px #acacac;
  margin-top: 10px;
}

.ClubName {
  background: #ffaa00;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 7px 1px #acacac;
  margin-top: 10px;
}

.TotalClubMembers {
  background: #192038;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 7px 1px #acacac;
  margin-top: 10px;
}
.TotalWithdraws {
  background: #ff3d71;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 7px 1px #acacac;
  margin-top: 10px;
}
h1.clubpanal {
  color: #192038;
  font-size: 44px;
  font-weight: 700;
}
.memberList {
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
}
