@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
}
strong img {
  margin-top: -18px;
  margin-bottom: -14px;
  width: 214px;
}

a .MuiButton-contained {
  box-shadow: none !important;
  color: white !important;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.MuiButton-label {
  justify-content: left !important;
}
a .MuiButton-contained:hover {
  box-shadow: none !important;
  background-color: rgb(18 110 81) !important;
}
.MuiListItemIcon-root {
  min-width: 35px !important;
}
.MuiListItem-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.MuiListItem-root:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.MuiListItemIcon-root svg {
  color: #c2c7d0;
}
.MuiListItemText-root span {
  font-size: 20px !important;
  font-family: "Roboto Condensed", sans-serif;
}
.makeStyles-drawerPaper-4 {
  width: 25% !important;
  background-color: #343a40 !important;
}
