/*************Google font family***********/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
.sliderWrapped {
  background: #383838;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
input.teambtn {
  background: #2ab046;
  color: white;
  font-size: 19px;
  border: none;
}
/* .collapse.show {
  background: #14192a;
  padding-top: 13px;
} */

.sliderItem {
  text-align: center;
  width: 25%;
}
.sliderImg a {
  color: white;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}
.sliderImg a img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin: auto;
}
.sliderItem .sliderImg {
  padding: 5px 0;
  text-align: center;
  border: 1px solid #b5b5b540;
}
.liveMatch {
  background: rgb(18 110 81);
  padding: 5px;
  color: white;
}
span .icon {
  color: #ffdf1b;
  font-size: 25px;
  font-weight: 600;
  animation: round 1.3s infinite;
  -webkit-animation: round 1.3s linear infinite;
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***************Slider tabs************/

.react-tabs__tab--selected {
  background: none !important;
  border-radius: inherit !important;
}
.react-tabs__tab-list {
  display: flex;
}
.react-tabs__tab {
  display: contents !important;
  border: 1px solid transparent;
  color: black;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.card {
  border-bottom: 1px solid gray !important;
  border-top: 1px solid gray !important;
}
.card {
  border: none;
}
.card-header {
  padding: 11px 11px !important;
  color: white;
  font-size: 15px;
  background-color: #494949 !important;
  cursor: pointer;
}
.card-header img {
  width: 20px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background: #46555d !important;
  color: #a9a5a5;
}
table {
  border-collapse: collapse;
  width: 20%;
  text-align: center;
}
