.MyStatementMenu {
  overflow: auto;
  height: 482px;
}
/* width */
.MyStatementMenu::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.MyStatementMenu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.MyStatementMenu::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.527);
}
