.mainSignup {
  background: #f1f1f1;
  padding-bottom: 60px;
}
.signupBtn {
  background: #20845d;
  border: none;
  font-size: 18px;
}

.signupBtn:hover {
  background-color: #20845d;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #20845d;
  border-color: #20845d;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #20845d;
  border-color: #20845d;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%);
}
